
{:paths
 ["src/dev"
  "src/main"
  "src/test"]
 :deps {thheller/shadow-cljs {:mvn/version "3.2.1"}
        reagent/reagent {:mvn/version "1.3.0"}
        }
 :aliases
 {:cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "3.2.1"}}}}}
